:root {
  --theme-background-dark: #0118d8;
  --theme-background-light: #1b56fd;
  --theme-text-dark: #e9dfc3;
  --theme-text-success: #b2d8ce;
  --theme-text-light: #fff8f8;
  --theme-text-error: #ff4d4d;
  --theme-background-error: #ffcccc;
}
body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
}
#root {
  margin: auto;
  max-width: 1024px;
  padding: 30px;
}
